@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}


body {
    height: 100vh;
    background: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    box-shadow: 0 0 5px;
    border-radius: 10px;

    animation-name: load;
    animation-duration: 3s;
}

@keyframes load {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.product-image {
    height: 250px;
    background: url(images/image-product-mobile.jpg) center/cover no-repeat;
    border-radius: 10px 10px 0px 0px;
}

.product-info {
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 0 10px 10px;
}

.product-info :not(:last-child) {
    margin-bottom: 15px;
}

#purfume {
    display: block;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
}

#heading {
    font-family: 'Fraunces', serif;
    font-size: 2.1rem;
    letter-spacing: 1px;
}

#details {
    font-size: 1.1rem;
    line-height: 25px;
    color: hsl(228, 12%, 48%);
}

#price {
    font-family: 'Fraunces', serif;
    font-size: 2.1rem;
    color: hsl(158, 36%, 37%);
    display: flex;
    align-self: center;
}

#price-dis {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    padding-left: 20px;
    display: inline-block;
    align-self: center;
}

#cart-button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(30, 38%, 92%);
    width: 100%;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(0.95);
    transition: all 0.5s;
}

#cart-button:hover,
#card-button:active {
    background-color: hsl(158, 61%, 19%);
    transform: scale(1);
}

#cart-button>img {
    padding-right: 10px;
}

@media (min-width:768px) {
    .card {
        width: 650px;
        display: flex;
        border-radius: 10px;
    }

    .product-image {
        width: 800px;
        height: auto;
        background: url(images/image-product-desktop.jpg) center/cover no-repeat;
        border-radius: 10px 0 0 10px;
    }

    .product-info {
        border-radius: 0 10px 10px 0;
    }
}